__pycache__/coin_exchanger.cpython-312.pyc
__pycache__/Database_Insert_GUI.cpython-312.pyc
__pycache__/Database_Read_GUI.cpython-312.pyc
__pycache__/Database_Viewer.cpython-312.pyc
__pycache__/date_time_parser.cpython-312.pyc
__pycache__/db_bridge.cpython-312.pyc
__pycache__/version.cpython-312.pyc
